<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>凤凰新闻H5页面</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/H5index.css">
</head>
<body>
<!--header-begin-->
<header>
    <h1 class="i-logo">
        <a href="#">
            <img src="images/logo.png" alt="">
        </a>
    </h1>
</header>
<!--header-end-->

<!--nav-begin-->
<nav>
    <a href="#" class="i-link cur">头条</a>
    <a href="#" class="i-link">视频</a>
    <a href="#" class="i-link">财经</a>
    <a href="#" class="i-link">凤凰号</a>
    <a href="#" class="i-link">凤凰卫视</a>
</nav>
<!--nav-end-->

<!--focus-begin-->
<div class="focus">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--<div class="swiper-slide">-->
                <!--<a href="#"><img src="images/banner01.png" alt="">-->
                    <!--<span class="txt">标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</span>-->
                    <!--<span class="bg"></span></a>-->
            <!--</div>-->
            <!--<div class="swiper-slide">-->
                <!--<a href="#">-->
                    <!--<img src="images/banner01.png" alt="">-->
                    <!--<span class="txt">标题标题标题标题标题标题</span>-->
                    <!--<span class="bg"></span>-->
                <!--</a>-->
        <!--</div>-->
        </div>

        <div class="swiper-pagination"></div>
    </div>
</div>
<!--focus-end-->

<!--main-begin-->
<div class="main">

    <!--&lt;!&ndash;1,左图右文-begin&ndash;&gt;-->
    <!--<section class="item">-->
        <!--&lt;!&ndash;左图&ndash;&gt;-->
        <!--<div class="i-pic">-->
            <!--<a href="#"><img src="images/img01.png"></a>-->
        <!--</div>-->
        <!--&lt;!&ndash;右文&ndash;&gt;-->
        <!--<div class="i-thumb">-->
            <!--&lt;!&ndash;标题&ndash;&gt;-->
            <!--<div class="i-title"><a href="#">这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年</a></div>-->

            <!--&lt;!&ndash;描述&ndash;&gt;-->
            <!--<div class="i-des">-->
                <!--<div class="i-time">一分钟前</div>-->
                <!--&lt;!&ndash;评论数 左右结构&ndash;&gt;-->
                <!--<div class="i-num">-->
                    <!--<span class="i-count">1.4万</span>-->
                    <!--<span class="i-icon"></span>-->
                    <!--<span class="i-label">专题</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash;1,左图右文-end&ndash;&gt;-->

    <!--&lt;!&ndash;2,三小图-begin&ndash;&gt;-->
    <!--<section class="itemPics">-->
        <!--&lt;!&ndash;三小图上面的文字&ndash;&gt;-->
        <!--<div class="i-title">-->
            <!--<a href="#">这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年</a>-->
        <!--</div>-->

        <!--&lt;!&ndash;三张小图&ndash;&gt;-->
        <!--<div class="pics">-->
            <!--<a href="#">-->
                <!--<img src="images/little01.png" alt="">-->
                <!--<img src="images/little01.png" alt="">-->
                <!--<img src="images/little01.png" alt="">-->
            <!--</a>-->
        <!--</div>-->

        <!--&lt;!&ndash;描述文字&ndash;&gt;-->
        <!--<div class="i-des">-->
            <!--<div class="i-info">-->
                <!--<div class="i-source">参考消息网</div>-->
                <!--<div class="i-time">一分钟前</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;评论数 左右结构&ndash;&gt;-->
            <!--<div class="i-num">-->
                <!--<span class="i-count">1.4万</span>-->
                <!--<span class="i-icon"></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash;2,三小图-end&ndash;&gt;-->


    <!--&lt;!&ndash;3,纯文字-begin&ndash;&gt;-->
    <!--<section class="itemPics itemTxt">-->
        <!--&lt;!&ndash;三小图上面的文字&ndash;&gt;-->
        <!--<div class="i-title">-->
            <!--<a href="#">这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年</a>-->
        <!--</div>-->
        <!--&lt;!&ndash;描述文字&ndash;&gt;-->
        <!--<div class="i-des">-->
            <!--<div class="i-info">-->
                <!--<div class="i-source">参考消息网</div>-->
                <!--<div class="i-time">一分钟前</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;评论数 左右结构&ndash;&gt;-->
            <!--<div class="i-num">-->
                <!--<span class="i-count">1.4万</span>-->
                <!--<span class="i-icon"></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash;3,纯文字-end&ndash;&gt;-->

    <!--&lt;!&ndash;4,单独的大图-begin&ndash;&gt;-->
    <!--<section class="itemPics">-->
        <!--&lt;!&ndash;三小图上面的文字&ndash;&gt;-->
        <!--<div class="i-title">-->
            <!--<a href="#">这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年这三年</a>-->
        <!--</div>-->

        <!--&lt;!&ndash;一张大图&ndash;&gt;-->
        <!--<div class="bigPic">-->
            <!--<a href="#">-->
                <!--<img src="images/pic.jpg" alt="">-->
                <!--<span class="play-bg"></span>-->
                <!--<span class="play-icon"></span>-->
                <!--<span class="play-time">00:02</span>-->
            <!--</a>-->
        <!--</div>-->

        <!--&lt;!&ndash;描述文字&ndash;&gt;-->
        <!--<div class="i-des">-->
            <!--<div class="i-info">-->
                <!--<div class="i-source">参考消息网</div>-->
                <!--<div class="i-time">一分钟前</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;评论数 左右结构&ndash;&gt;-->
            <!--<div class="i-num">-->
                <!--<span class="i-count">1.4万</span>-->
                <!--<span class="i-icon"></span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash;4,单独的大图-end&ndash;&gt;-->

</div>
<!--main-end-->


</body>
</html>
<script src="js/ejs.min.js"></script>
<script src="js/zepto.min.js"></script>
<script src="js/swiper.min.js"></script>
<!--造模版:不同模块不能写在一起-->
<!--焦点图模板-->
<script charset="utf-8" type="text/template" id="focusTemplate">
    <% $.each(focusTepData,function(index,item){%>
    <div class="swiper-slide">
        <a href="#"><img src="<%= item.thumbnail %>" alt="">
            <span class="txt"><%= item.title  %></span>
            <span class="bg"></span></a>
    </div>
    <% }) %>
</script>
<!--main部分模板-->
<script charset="utf-8" type="text/template" id="itemTemplate">
    <%$.each(itemTepData,function(index,item){%>
    <%if (item.style.images) {%>
    <%<!--2,三小图-begin-->%>
    <section class="itemPics">
        <div class="i-title">
            <a href="<%=item.link.weburl%>"><%=item.title%></a>
        </div>

        <div class="pics">
            <a href="<%=item.link.weburl%>">
                <img src="<%=item.style.images[0]%>" alt="">
                <img src="<%=item.style.images[1]%>" alt="">
                <img src="<%=item.style.images[2]%>" alt="">
            </a>
        </div>

        <div class="i-des">
            <div class="i-info">
                <div class="i-source"><%=item.source%></div>
                <div class="i-time"><%=item.updateTime%></div>
            </div>

            <div class="i-num">
                <span class="i-count"><%=item.commentsall%></span>
                <span class="i-icon"></span>
            </div>
        </div>
    </section>
    <%} else if (item.type == 'phvideo') {%>
    <%<!--4,单独的大图-begin-->%>
    <section class="itemPics">
        <div class="i-title">
            <a href="<%=item.link.weburl%>"><%=item.title%></a>
        </div>

        <div class="bigPic">
            <a href="<%=item.link.weburl%>">
                <img src="<%=item.thumbnail%>" alt="">
                <span class="play-bg"></span>
                <span class="play-icon"></span>
                <span class="play-time"></span>
            </a>
        </div>

        <div class="i-des">
            <div class="i-info">
                <div class="i-source"><%=item.source%></div>
                <div class="i-time"></div>
            </div>

            <div class="i-num">
                <span class="i-count"><%=item.commentsall%></span>
                <span class="i-icon"></span>
            </div>
        </div>
    </section>
    <%} else if (item.thumbnail) {%>
    <%<!--1,左图右文-begin-->%>
    <section class="item">
        <div class="i-pic">
            <a href="<%=item.link.weburl%>"><img src="<%=item.thumbnail%>"></a>
        </div>

        <div class="i-thumb">
            <div class="i-title"><a href="<%=item.link.weburl%>"><%=item.title%></a></div>
            <div class="i-des">
                <div class="i-time"><%=item.updateTime%></div>
                <div class="i-num">
                    <span class="i-count"><%=item.commentsall%></span>
                    <span class="i-icon"></span>
                    <%if(item.style.attribute){%>
                        <span class="i-label"><%=item.style.attribute%></span>
                    <%}%>
                </div>
            </div>
        </div>
    </section>
    <%} else {%>
    <%<!--3,纯文字-begin-->%>
    <section class="itemPics itemTxt">
        <div class="i-title">
            <a href="<%=item.link.weburl%>"><%=item.title%></a>
        </div>
        <div class="i-des">
            <div class="i-info">
                <div class="i-source"><%=item.source%></div>
                <div class="i-time"><%=item.updateTime%></div>
            </div>

            <div class="i-num">
                <span class="i-count"><%=item.commentsall%></span>
                <span class="i-icon"></span>
            </div>
        </div>
    </section>
    <%}%>
    <%});%>
</script>
<script>
/*
 综合实战涉及知识点:
 1,流式布局
 2,rem
 3,flexbox
 4,swiper
 5,ejs 动态绑定数据
 6,iscroll.js
 7,移动端雪碧图
 8,ajax  跨域请求 jsonp


 */
    ~function (desW) {
        var winW = document.documentElement.clientWidth;
        var ratio = winW / desW;
        document.documentElement.style.fontSize = ratio * 100 + 'px';
    }(750);


//    ejs绑定数据
    $.ajax({
        url:'https://api.iclient.ifeng.com/ClientNews?id=SYLB10,SYDT10&gv=5.4.0&os=ios&uid=8jWzrXDWQeep2Nw4AZYzmHxkbneHy4Fj&callback=jQuery191037427085312083364_1483258003039&_=1483258003040',
        type:'get',
        dataType:'jsonp',
        jasonp:'callback',
        success:bindHTML
    });

    function bindHTML(data){
//        console.log(data);  list  focus
        for (var i = 0; i < data.length; i++){
            if(data[i].type == 'focus'){
                var _focusData = data[i].item;
            }else{
                var _itemData = data[i].item;
            }
        }
//         = focusList;  /*焦点图的数据*/
//        _itemData = itemList;  /*中间内容模块的数据*/

        var focusHTML = $('#focusTemplate').html();
        var result = ejs.render(focusHTML,{focusTepData:_focusData});
        $('.swiper-wrapper').html(result);

//        swiper
        var mySwiper = new Swiper(".swiper-container",{
            loop:true,
            autoplay:3000,
            pagination:'.swiper-pagination',
            paginationType:'fraction'
        });

//        main
        var itemHTML = $('#itemTemplate').html();
        var result = ejs.render(itemHTML,{itemTepData:_itemData});
        $('.main').html(result);

//        $('.main').html(ejs.render($('#itemTemplate').html(),{itemTepData:_itemData}));
    }







</script>
